extends layout

block content
  profilebox.manor
    h2 #{title}
    figure.pbox
      img.pbox-arms(src="/images/badgehoskersalmanack.svg")
      figcaption Badge of #{title}

  h1 #{title}

  p #[b #{title}] is a document which prescribes two poems, selected from the flower of English poetry, for each day of the year.
