extends layout

block content
    img.index(src="images/prodigalson.jpg")
    h1 Welcome to the Kingdom of Cyprus
    p
        blockquote #[i Make me an instrument of your peace.]
    p Welcome to the website of the #[strong Kingdom of Cyprus], a structure intended to preserve the incorporeal treasures of both Christian and English heritage through these difficult times.

    h2 Interesting Pages
    p There are so many ways you could begin your journey...
    ul
        li #[a(href="/territories/kingdom") A description of the Kingdom];
        li #[a(href="/canons") Hosker's Canons</a>];
        li #[a(href="/stills/other_projects") Other projects].
