extends layout

block content
  h1 #{title}

  p The terms #[b Lord-Warden] and #[b Lord-Lieutenant] describe non-hereditary appointments by the Crown with regard to duchies, counties and baronies respectively.

  p Should a duke be unable to exercise the powers of his office, whether due to youth, illness or some other reason, or should the title to a duchy merge with the Crown, then the powers of duke with respect to that duchy shall be exercised by His Majesty. His Majesty may appoint a lord-warden to exercise said powers on his behalf.

  p A duke --- or a lord-warden exercising the powers of a duke as above --- may appoint a lord-lieutenant for any of the counties in his duchy, in the same fashion and under the same circumstances in which His Majesty might appoint a lord-warden.

  p An earl --- or a lord-lieutenant exercising the powers of an earl as above --- may appoint a #[b Knight-Lieutenant] for any of the baronies in his county, in the same fashion and under the same circumstances in which a duke might appoint a lord-lieutenant.

  p By virtue of his appointment, a lord-warden acquires the style of #[i Excellency] and the prefix #[i Lord] for life; whereas a lord-lieutenant acquires the prefix #[i Lord] only. A knight-lieutenant acquires a knighthood, and thus the prefix of #[i Sir], by virtue of his appointment.
