extends layout

block content
    profilebox.red
        p
            | #[i His Majesty]
            br
            | #[span.big-and-strong The King]
        figure.pbox
            img.pbox(src="../images/armsroyal.svg")
        table.pbox
            tr
                td #[a(href="/asis/Rank") Rank]
                td King
            tr
                td Addressed As
                td ``Your Majesty''
    h1 His Majesty The King
    p His Majesty #[b The King] is head of state of the Kingdom of Cyprus.

    h2 Cyprian Data
    h3 Cyprian Legal Name
    p His Majesty The King
    h4 Accolades
    p #[a(href="/chivalric/cross") Knight Companion of the Most Noble Order of the Cross]
