extends layout

block content
  h1 #{title}

  p The terms #[b Strategos], #[b Comes] and #[b Patricius] describe non-hereditary appointments by the Crown with regard to duchies, counties and baronies respectively.

  p Should a duke be unable to exercise the powers of his office, whether due to youth, illness or some other reason, or should the title to a duchy merge with the Crown, then the powers of duke with respect to that duchy shall be exercised by His Majesty. His Majesty may appoint a strategos to exercise said powers on his behalf; in addition, His Majesty may appoint a strategos in the presence of a capable duke, both as an honour and as a precaution should the duke in question become incapable.

  p The above rules, for dukes and strategoi, are extended to earls and comites, and to barons and patricii, respectively.
