@font-face {
  font-family: computerModern;
  src: url("fonts/cmunrm.ttf");
}
@font-face {
  font-family: computerModern;
  src: url("fonts/cmunti.ttf");
  font-style: italic;
}
@font-face {
  font-family: computerModern;
  src: url("fonts/cmunbx.ttf");
  font-weight: bold;
}
@font-face {
  font-family: computerModern;
  src: url("fonts/cmunbi.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: fraktur;
  src: url("fonts/fraktur.ttf");
}

body {
  font-family: computerModern, serif;
  padding-left: 20px;
  padding-right: 20px;
}

a:link {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
  color: blue;
}

a:visited {
  text-decoration: none;
  color: blue;
}

.header {
  width: 100%;
  height: 200px;
  background-color: white;
  background-image: url("banner.png");
  background-repeat: no-repeat;
  background-position: center; 
}

.content {
  margin: 1em;
}

.footer {
  padding-top: 5px;
  padding-left: 1px;
  font-size: small;
}

table {
  border-collapse: collapse;
  width: 600px;
}

.mini {
  width: 400px;
}

.maxi {
  width: 100%;
}

.profile-box {
  width: 100%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

form {
  padding-left: 30px;
}

img {
  margin: 1em;
}

.kingdom-box
{
  margin-top: 0em;
}

profilebox {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 0em;
  width: 400px;
  float: right;
  text-align: center;
  padding: 1em;
  border-color: black;
  border-style: solid;
  border-width: 0px 0px 0px 5px;
}

.kingdom {
  border-color: black;
  width: 470px;
  border-style: double;
  border-width: 0px 0px 0px 60px;
}
